%h1 Choose a Product 
.instructions
  First, pick a product you intend to put your qr code on.
  You'll be able to customize options for the product later.
  This is just to give us an idea of what size an image you are going to be building.

- form_for :user_product do |f| 
  = render :partial => 'product', :locals=>{:f=>f},
					 :collection => @products.sort{|p1,p2| p1.name <=> p2.name}

  = f.submit 'Add to Cart'
 
